## Coursera Capstone Project

#### 1. We read a table from Wikipedia that describes postal codes and neighborhoods in Toronto, Canada

In [1]:
import pandas as pd
import numpy as np


df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]
df.columns = df.iloc[0]
df = df.drop(df.index[0])

#### 2. We drop all Boroughs that are labeled "Not assigned"

In [2]:
df = df.drop(df[(df['Borough'] == "Not assigned")].index)

#### 3. If a row has a borough but a "Not assigned" neighborhood value, then the neighborhood will be assigned the borough

In [3]:
df.loc[df['Neighborhood'].eq("Not assigned"),"Neighborhood"]= df.loc[df['Neighborhood'].eq("Not assigned"),'Borough']

#### 4.  We combine the cells of the "Neighborhood" column if they have the same Postal Code

In [4]:
df = df.groupby(['Postal Code'])['Neighborhood'].apply(', '.join).reset_index()

#### 5. LetÂ´s check the shape of our cleaned up df

In [5]:
np.shape(df)

(103, 2)

In [14]:
df.head()

  Postal Code                            Neighborhood   Latitude  Longitude
0         M1B                          Malvern, Rouge  43.806686 -79.194353
1         M1C  Rouge Hill, Port Union, Highland Creek  43.784535 -79.160497
2         M1E       Guildwood, Morningside, West Hill  43.763573 -79.188711
3         M1G                                  Woburn  43.770992 -79.216917
4         M1H                               Cedarbrae  43.773136 -79.239476

In [10]:
geo_file = 'https://cocl.us/Geospatial_data'
geo_df = pd.read_csv(geo_file)

geo_df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [12]:
## Merging the two dataframes
df = df.merge(geo_df, how= 'inner', on= 'Postal Code')

In [15]:
df.head()

  Postal Code                            Neighborhood   Latitude  Longitude
0         M1B                          Malvern, Rouge  43.806686 -79.194353
1         M1C  Rouge Hill, Port Union, Highland Creek  43.784535 -79.160497
2         M1E       Guildwood, Morningside, West Hill  43.763573 -79.188711
3         M1G                                  Woburn  43.770992 -79.216917
4         M1H                               Cedarbrae  43.773136 -79.239476